body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {   
    list-style: none;
}

li {
    margin-left: 30px;
}

a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #F9FAF8;
    text-decoration: none;
}

a:hover {
    color: white;
    font-weight: 400;
}

button {
    background-color: hsl(230 90% 30%);
    color:hsl(200 10% 90%);
    width: 200px;
    height:60px;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

button:hover {
    background-color: hsl(230 90% 50%);
    color: white;
    border: 1px solid white;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8
}

figcaption {
    font-family: 'Lato', sans-serif;
    color: aqua;
}

.head p {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #E5E7EB
}

.logo {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #F9FAF8
}

.sizenav,
.sizehead,
.signsize {
    width: 1400px;
    display: flex;
}

.sizenav {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    background-color: hsl(200 80% 15%);
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
}

.sizehead {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.presentation {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 120px 10px;
    margin-top: 50px;
}

.head {
    max-width: 600px;
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.image {
    max-width: 600px;
    flex: 1 1 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

img {
    width: 100%;
}

.main h2 {
    text-align: center;
    margin-top: 80px;
    font-size: 46px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    color: #1F2937;
}

.contsize {
    display: flex;
    justify-content: center;
    flex: 1 1 600px;
    max-width: 1200px;
    margin: 50px auto 110px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    padding: 0 10px;
    width: 100%;
    flex: 1 1 auto;
    margin: 30px auto;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-flow: column wrap;
    width: 17%;
    min-width: 150px;
}

.card > p {
    padding: 0 10px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #111111
}

.content img {
    height: 100%;
    border-radius: 5%;
    z-index: -1;
    position:relative;
}

.content {
    aspect-ratio : 1 / 1;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid rgb(20, 20, 200);
    border-radius: 9%;

}

.quotesize {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex: 1 1 600px;
    max-width: 1200px;
    margin: 40px auto;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    padding: 0 10px;
}

.quotesize > p {
    text-align: justify;
    font-size: 36px;
    font-weight: 200;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #1F2937
}

.quotesize > .author {
    text-align: right;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.author::before {
    content: "\2014\0020";
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 110px auto;

} 

.signsize {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 50px;
    background-color: hsl(180 85% 40%);
    border-radius: 10px;
    padding: 20px 10px;
}

.signup h2 {
    margin: 0;
    text-align: left;
}

.signup p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: hsl(180 40% 10%)
}

footer {
    background-color: hsl(200 80% 15%);
    color: hsl(200 10% 90%);
    font-family: 'Lato' serif;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    padding: 50px 10px;
}