body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {   
    list-style: none;
}

li {
    margin-left: 30px;
}

button {
    background-color: hsl(230 90% 30%);
    color:hsl(200 10% 90%);
    width: 160px;
    height:40px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

button:hover {
    background-color: hsl(230 90% 50%);
    color: white;
    border: 1px solid white;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #F9FAF8
}

.head p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 23px;
    font-style: italic;
    color: #F9FAF8
}

.logo {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #F9FAF8
}

.sizenav,
.sizehead {
    width: 1400px;
    display: flex;
}

.sizenav {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    background-color: hsl(200 80% 15%);
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: space-between;
}

.sizehead {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.presentation {
    background-color: hsl(200 60% 15%);
    display: flex;
    justify-content: center;
    padding: 80px 10px;
}

.head {
    max-width: 600px;
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.image {
    max-width: 600px;
    flex: 1 1 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

img {
    width: 100%;
}

.main h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.contsize {
    display: flex;
    justify-content: center;
    flex: 1 1 600px;
    max-width: 1200px;
    margin: 40px auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    padding: 0 10px;
    width: 100%;
    flex: 1 1 auto;
    margin: 0 auto;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-flow: column wrap;
    width: 17%;
    min-width: 150px;
}

.card > p {
    padding: 0 10px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #111111
}

.content {
    aspect-ratio : 1 / 1;
    width: 100%;
    border: 5px solid rgba(0, 0, 200, 0.7);
    border-radius: 9%;

}